In [92]:
import pandas as pd
im
from statistics import mean

bank_df = pd.read_csv('budget_data.csv')

In [11]:
bank_df.head()

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503

In [78]:
num_months = bank_df['Date'].nunique()
num_months

86

In [79]:
net_change = bank_df['Profit/Losses'].sum()
net_change

38382578

In [ ]:
increase = 0
decrease = 0
diff_list = []
counter = 0
for row in range(len(bank_df)):
    counter = counter + 1
    current = bank_df['Profit/Losses'][row]
    future = bank_df['Profit/Losses'][row + 1]
    difference = future - current
    diff_list.append(difference)
    if difference > increase:
        increase = difference
        up_month = bank_df['Date'][row + 1]
    if difference < decrease:
        decrease = difference
        down_month = bank_df['Date'][row + 1]
    if counter == 85:
        break

-2315

In [98]:
print('Financial Analysis')
print("------------------------------------------------------------------------")
print('Total Months: ' + str(num_months))
print('Total: ' + '$' + str(net_change))
print('Average Change: ' + '$' + str(mean(diff_list)))
print('Greatest Increase in Profits: ' + up_month)
print('Greatest Decrease in Profits: ' + down_month)

Financial Analysis
------------------------------------------------------------------------
Total Months: 86
Total: $38382578
Average Change: $-2315
Greatest Increase in Profits: Feb-2012
Greatest Decrease in Profits: Sep-2013

In [99]:
pybank = open('PyBank.txt','w')
pybank.write('Financial Analysis' + '\n' + 'Total Months: ' + str(num_months) + '\n' + 'Total: ' + '$' + str(net_change) +
       '\n' + 'Average Change: ' + '$' + str(mean(diff_list)) + '\n' + 'Greatest Increase in Profits: ' + up_month +
       '\n' + 'Greatest Decrease in Profits: ' + down_month)
pybank.close()